<div class="account-pages my-5 pt-sm-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card overflow-hidden">
                  <div class="bg-primary bg-soft">
                      <div class="row">
                          <div class="col-7">
                              <div class="text-primary p-4">
                                  <h5 class="text-primary">Welcome Back !</h5>
                                  <p>Sign in to continue.</p>
                              </div>
                          </div>
                          <div class="col-5 align-self-end">
                              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                          </div>
                      </div>
                  </div>
                  <div class="card-body pt-0">
                      <div class="auth-logo">
                              <div class="avatar-md profile-user-wid mb-4">
                                  <span class="avatar-title rounded-circle bg-light">
                                      <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                                  </span>
                              </div>
                      </div>
                      <div class="p-2">
                          <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

                              <div class="mb-3">
                                  <label for="username" class="form-label">Username</label>
                                  <input type="text" class="form-control" formControlName="username" [ngClass]="{'is-invalid' : !value.username.valid && (value.username.touched)}" placeholder="Enter username">
                                  <div class="invalid-feedback">
                                    Please Enter Username
                                </div>
                              </div>

                              <div class="mb-3">
                                  <label class="form-label">Password</label>
                                  <div class="input-group auth-pass-inputgroup">
                                      <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : !value.password.valid && (value.password.touched)}"  placeholder="Enter password" aria-label="Password" aria-describedby="password-addon">
                                      <div class="invalid-feedback">
                                        Please Enter Password
                                      </div>
                                  </div>
                              </div>
                              <!-- <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="remember-check">
                                  <label class="form-check-label" for="remember-check">
                                      Remember me
                                  </label>
                              </div> -->

                              <div class="mt-3 d-grid mb-3">
                                  <button class="btn btn-primary waves-effect waves-light" type="submit">Log In</button>
                              </div>
                              <div *ngIf="_status == true" class="alert alert-success alert-success show" role="alert">
                                <i class="mdi mdi-check-all me-2"></i>
                                {{_msg}}
                              </div>
                              <div *ngIf="_status == false" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="mdi mdi-block-helper me-2"></i>
                                {{_msg}}
                              </div>

                              <div class="mt-4 text-center">
                                  <a href="#" class="text-muted"><i class="mdi mdi-lock me-1"></i> Forgot your password?</a>
                              </div>
                          </form>
                      </div>

                  </div>
              </div>
              <div class="mt-5 text-center">

                  <div>
                      <p>Don't have an account ? <a routerLink="/signup" class="fw-medium text-primary"> Signup now </a> </p>
                      <p>© 2021</p>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
<!-- end account-pages -->
